body{
    background-image: url('/assets/background.jpg');
    background-repeat: no-repeat;
    background-size:100% 720px;
    background-attachment:fixed;

}
.fcontainer{
    height:300px;
    width:400px;
    text-align:center;
    border-radius:5px;
    background-color:rgba(0, 0, 0, 0.4);
    margin:0 auto;
    margin-top:100px;
}

.fcontainer img{
    width: 120px;
    height: 120px;
    margin-top:-60px;
    margin-bottom:30px;
}

.formp
{
    color:white;
    font-size: 15px;
}
input.text2{
    border:none;
    border-radius:4px;
    width:240px;
    height:40px;
    font-size:14px;
    margin-bottom:12px;
    background-color:#fff;
    padding-left:40px;
}

input.text2:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

.submit{
    border:none;
    background-color:#2ECC71;
    color:white;
    border-bottom:2px solid #27AE60;
    width:100px;
    height:40px;
    text-align:center;
    font-size:18px;
    border-radius:4px;
    margin-top: 20px;
}

.form-input::before{
    content: "\f007";
    position: absolute;
    font-family: "FontAwesome";
    font-size: 30px;
    padding-left:5px;
    padding-top:7px;
    color:#9B5986;
}
.form-input:nth-child(2)::before{
    content: "\f023";
}