.btn-edit{
    background-color: dodgerblue;
    border: none;
    border-radius: 3px;
    height: 25px;
}
.btn-edit a{
    color: ghostwhite;
}
.btn-delete{
    background-color: #e53935;
    border: none;
    border-radius: 3px;
    height: 25px;
}
.btn-delete a{
    color: ghostwhite;
}
.btn-view{
    background-color: forestgreen;
    border: none;
    border-radius: 3px;
    height: 25px;
}
.btn-view a{
    color: ghostwhite;
}
.pagination{
    margin-left: 550px;
}
.create{
    margin-left: 510px;
}
.paginate{
    color:black;
    font-size:25px;
}