.btn-edit{
    background-color: dodgerblue;
    border: none;
    border-radius: 3px;
    height: 25px;
}
.btn-edit a{
    color: ghostwhite;
}
.btn-delete{
    background-color: #e53935;
    border: none;
    border-radius: 3px;
    height: 25px;
}
.btn-delete a{
    color: ghostwhite;
}
.btn-view{
    background-color: forestgreen;
    border: none;
    border-radius: 3px;
    height: 25px;
}
.btn-view a{
    color: ghostwhite;
}
.pagination{
    margin-left: 375px;
}
/*.create{*/
    /*margin-left: 375px;*/
/*}*/
.cen{
    float: none;
    margin: 0 auto;
}
a .delete{
  color: black;
    position: relative;
    padding: 3px 5px;
}
.paginate{
    color:black;
    font-size:25px;
}

.info-box{
    text-align: center;
    margin-top: 20px;
    margin-bottom: -20px;
    margin-left: 360px;
    padding: 16px;
    border-radius: 3px;
    width: 370px;
}

.info-box.fail{
    border: 1px solid #f55a4e;
    background-color: #f55a4e;
    color: white;

}

.info-box.success{
    border: 1px solid #5cb860;
    background-color: #5cb860;
    color: white;
}

.noti-badge {
    position: absolute;
    top:-5px;
    right: -1px;
    padding: 4px 7px;
    border: none;
    border-radius:110px;
    background: #f44336;
    -webkit-background-clip: padding-box;
    font: bold 7px/9px "Helvetica Neue", sans-serif;
    color: white;
    text-decoration: none;
}​




